/**
  |============================
  |  Common 
  |============================
*/
.title {
  font-size: 24px;
  line-height: calc(29px / 24px);
  color: $main-black;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
  @include media-tablet-min(768px) {
    font-size: 44px;
    line-height: calc(54px / 44px);
    margin-bottom: 60px;
    // margin-right: 16px;
  }

  @include media-desktop-min(1280px) {
    margin-bottom: 80px;
  }

  &:after {
    content: '';
    flex-grow: 1;
    border: 1px solid $main-black;
  }

  @include media-tablet-min(1280px) {
    margin-bottom: 80px;
  }
}
.min-title {
  font-size: 16px;
  line-height: calc(20px / 16px);
  color: $main-black;
  text-align: left;
  margin-bottom: 6px;
  @include media-tablet-min(768px) {
    font-size: 32px;
    line-height: calc(39px / 32px);
    margin-right: 8px;
    margin-bottom: 8px;
  }
  @include media-desktop-min(1280px) {
    font-size: 36px;
    line-height: calc(44px / 36px);
    margin-right: 16px;
    margin-bottom: 4px;
  }
}

body {
  font-family: Montserrat, sans-serif;
  color: $main-black;
}
