/**
  |============================
  |  Common 
  |============================
*/
.title {
  font-size: 24px;
  line-height: calc(29px / 24px);
  color: #000000;
  text-align: center;
  margin-right: 14px;
  @media screen and (min-width: 768px) {
    font-size: 44px;
    line-height: calc(54px / 44px);
    margin-right: 16px;
  }

  &:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    border: 1px solid $main-black;
  }
}
.min-title {
  font-size: 16px;
  line-height: calc(20px / 16px);
  color: #000000;
  text-align: center;
  margin-bottom: 6px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: calc(39px / 32px);
    margin-right: 8;
    margin-bottom: 8;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: calc(44px / 36px);
    margin-right: 16px;
    margin-bottom: 4px;
  }
}

body {
  font-family: Montserrat, sans-serif;
  color: #000000;
}
