/**
  |============================
  |  Container settings
  |============================
*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
