/**
  |============================
  |  Container settings
  |============================
*/

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @include media-tablet-min(767.98px) {
    min-width: 768px;
    padding: 0 24px;
  }

  @include media-desktop-min(1279.98px) {
    min-width: 1280px;
  }
}