// Utils styles
@import './utils/mixins';
@import './utils/normalize';
@import './utils/variables';
@import './utils/visually-hidden';
@import './components/btn';
//  Base styles
@import './base/animations';
@import './base/common';
@import './base/container';
@import './base/reset';
@import './base/section';

// Components styles
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/mobile-menu';
@import './components/footerv2';
@import './components/delivery';
@import './components/about';
@import './components/store';
@import './components/blog';

// Forms styles
@import './components/forms/contact-us/contact-us-thank-you-modal';
@import './components/forms/contact-us/contact-us-modal-form';
@import './components/forms/subscribe/subscribe-modal-form';
