// Utils styles
@import './utils/mixins';
@import './utils/normalize';
@import './utils/variables';
@import './utils/visually-hidden';

//  JS styles

// @import './js/slider.js';

//  Base styles
@import './base/animations';
@import './base/common';
@import './base/container';
@import './base/reset';
@import './base/section';

// Components styles
@import './components/logo';
@import './components/hero';
@import './components/header';
@import './components/mobile-menu';
@import './components/footer';
@import './components/btn';
@import './components/delivery';
@import './components/about';
@import './components/store';
@import './components/blog';

// Forms styles
@import './components/forms/contact-us/contact-us-thank-you-modal';
@import './components/forms/contact-us/contact-us-modal-form';
@import './components/forms/subscribe/subscribe-modal-form';

/**
  |============================
  |  Connections 
  |============================
*/
