/**
  |============================
  |  BG colors + Colors
  |============================
*/

// Background-colors

$main-white: #FFFFFF;
$main-black: #000000;

$mobile-bg-color: #E86F54;
$modal-backdrop: rgba(0, 0, 0, 0.3);

// ???
$pop-up-thanks: #666464;

// Font colors

$main-white: #FFFFFF;

$main-font-color: #000000;
$second-font-color: #5C5C5C;

// Button colors

$main-white: #FFFFFF;

$button-default-color: #E86F54;
$button-unactive-color: rgba(232, 111, 84, 0.4);
$button-hovered-color: #E25B41;
$button-focused-color:#FA6F54;

// Icon colors

$main-white: #FFFFFF;

$icon-black: #0E0E0E;


