/**
  |============================
  |  BG colors + Colors
  |============================
*/
$main-theme-color: #E86F54;
$main-theme-color-unfocused: rgba(232, 111, 84, 0.4);
$icon-black: #0E0E0E;
$main-font-color: #000000;
$main-white: #FFFFFF;
$modal-backgroud: rgba(0, 0, 0, 0.3);
$modal-color: rgba(255, 255, 255, 1);
$grey-scale: rgba(215, 215, 215, 1);
$font-sub-color: #5C5C5C;