// Background-colors
$main-white: #ffffff;
$main-black: #000000;

$mobile-bg-color: #e86f54;
$modal-backdrop: rgba(0, 0, 0, 0.3);

// ???
$pop-up-thanks: #666464;

// Font colors
$main-font-color: #000000;
$second-font-color: #5c5c5c;

// Button colors
$button-default-color: #e86f54;
$button-unactive-color: rgba(232, 111, 84, 0.4);
$button-hovered-color: #e25b41;
$button-focused-color: #fa6f54;

// Icon colors
$icon-black: #0e0e0e;

// Other colors
$border-color: #d7d7d7;

// Animations
$anim-slow: 500ms;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1);
