<!--  About section -->

<section id="about-us" class="section">
  <div class="container">
    <h2 class="title">ABOUT</h2>
    <div class="wrapper">
      <p class="min-title subtitle">
        We are a minimalistic flower studio.
        <!-- <br class="break-your__text" /> -->
        We love people and flowers.
        <!-- <br class="break-your__text" /> -->
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <img
        class="userpic"
        srcset="
          ./images/about/image_about_mob@1x.jpg   288w,
          ./images/about/image_about_mob@2x.jpg   576w,
          ./images/about/image_about_tab@1x.jpg   344w,
          ./images/about/image_about_tab@2x.jpg   688w,
          ./images/about/image_about_desk@1x.jpg  632w,
          ./images/about/image_about_desk@2x.jpg 1264w
        "
        src="./images/about/image_about_mob@1x.jpg"
        alt="about us photo"
        sizes=""
      />
    </div>
  </div>
</section>
