<!--  About section -->

<section class="about section">
  <div class="container">
    <h2 class="uppertitle">ABOUT</h2>
    <p class="subtitle">
      We are a minimalistic flower studio. We love people and flowers.
      Therefore, every day we give people the beauty and joy creating stylish
      and modern masterpieces. Every bouquet we create is unique as you are.
    </p>
    <img
      class="userpic"
      srcset=""
      src="/images/about/image_about_mob@1x.jpg"
      alt="about us photo"
    />
  </div>
</section>
