<!--  Delivery section  -->

<section class="#delivery section">
  <div class="container">
    <h2 class="title">DELIVERY</h2>
    <ul class="delivery__list">
      <li class="delivery__item">
        <div class="circle"><span class="digit">1</span></div>
        <p class="delivery-item__text">
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="delivery__item">
        <div class="circle"><span class="digit">2</span></div>
        <p class="delivery-item__text">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="delivery__item">
        <div class="circle"><span class="digit">3</span></div>
        <p class="delivery-item__text">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </p>
      </li>
      <li class="delivery__item">
        <div class="circle"><span class="digit">4</span></div>
        <p class="delivery-item__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <!-- <div class="wallpaper"></div> -->
    <img
      class="delivery__img"
      srcset="./images/delivery/image_delivery_mob@1x.jpg 320w
      ./images/delivery/image_delivery_mob@2x.jpg 640w,
      ./images/delivery/image_delivery_tab@1x.jpg 768w,
      ./images/delivery/image_delivery_tab@2x.jpg 1536w,
      ./images/delivery/image_delivery_desk@1x.jpg 1280w,
      ./images/delivery/image_delivery_desk@2x.jpg 2560w"
      src="./images/delivery/image_delivery_mob@1x.jpg"
      alt="delivery photo"
      sizes=""
    />
  </div>
</section>
