<!--  Delivery section  -->

<!-- <section class="#delivery section">
  <div class="container">
    <ul class="delivery__list">
      <li class="delivery__item">
        <p class="delivery-item__digit">1</p>
        <p class="delivery-item__text">
          Choose your bouquet and make an order on website
        </p>
      </li>
      <li class="delivery__item">
        <p class="delivery-item__digit">2</p>
        <p class="delivery-item__text">
          Wait for the call to clarify the details of the order. You can pay
          online or to the courier
        </p>
      </li>
      <li class="delivery__item">
        <p class="delivery-item__digit">3</p>
        <p class="delivery-item__text">
          Wait for the delivery at the selected time or pick up the order from
          the store
        </p>
      </li>
      <li class="delivery__item">
        <p class="delivery-item__digit">4</p>
        <p class="delivery-item__text">Make someone happy or enjoy yourself</p>
      </li>

      <img
        class="delivery__img"
        srcset="./images/delivery/image_delivery_mob@1x.jpg 320w"
        src="./images/delivery/image_delivery_mob@1x.jpg"
        alt="delivery photo"
      />
    </ul>
  </div>
</section> -->
