<!--  Footer section  -->

<footer class="footer">
  <div class="container__footer container">
    <a href="#anemone">
      <div class="footer-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="74" height="58" fill="none">
          <path fill="#fff"
            d="M18.72 14.2c5.867 0 10.347 1.44 13.44 4.32 3.147 2.88 4.72 7.173 4.72 12.88V57H29.6v-5.6c-1.28 1.973-3.12 3.493-5.52 4.56-2.347 1.013-5.147 1.52-8.4 1.52-4.747 0-8.56-1.147-11.44-3.44C1.413 51.747 0 48.733 0 45c0-3.733 1.36-6.72 4.08-8.96 2.72-2.293 7.04-3.44 12.96-3.44H29.2v-1.52c0-3.307-.96-5.84-2.88-7.6-1.92-1.76-4.747-2.64-8.48-2.64-2.507 0-4.96.427-7.36 1.28-2.4.8-4.427 1.893-6.08 3.28l-3.2-5.76c2.187-1.76 4.8-3.093 7.84-4 3.04-.96 6.267-1.44 9.68-1.44Zm-1.76 37.36c2.933 0 5.467-.64 7.6-1.92 2.133-1.333 3.68-3.2 4.64-5.6v-5.92H17.36c-6.507 0-9.76 2.187-9.76 6.56 0 2.133.827 3.813 2.48 5.04 1.653 1.227 3.947 1.84 6.88 1.84Z" />
          <path fill="#fff"
            d="M73.6 36.04c0 .587-.053 1.36-.16 2.32h-34.4c.48 3.733 2.107 6.747 4.88 9.04 2.826 2.24 6.32 3.36 10.48 3.36 5.067 0 9.147-1.707 12.24-5.12l4.24 4.96c-1.92 2.24-4.32 3.947-7.2 5.12-2.827 1.173-6 1.76-9.52 1.76-4.48 0-8.453-.907-11.92-2.72-3.467-1.867-6.16-4.453-8.08-7.76-1.867-3.307-2.8-7.04-2.8-11.2 0-4.107.907-7.813 2.72-11.12 1.867-3.307 4.4-5.867 7.6-7.68 3.253-1.867 6.907-2.8 10.96-2.8 4.053 0 7.653.933 10.8 2.8 3.2 1.813 5.68 4.373 7.44 7.68 1.813 3.307 2.72 7.093 2.72 11.36ZM52.64 20.68c-3.68 0-6.773 1.12-9.28 3.36-2.453 2.24-3.893 5.173-4.32 8.8h27.2c-.427-3.573-1.893-6.48-4.4-8.72-2.454-2.293-5.52-3.44-9.2-3.44Z" />
          <path fill="#fff" fill-rule="evenodd" d="M68 6H40V0h28v6Z" clip-rule="evenodd" />
        </svg>

        <!-- <svg class="logo__icon" width='74' height='58'>
                  <use href='./images/sprite.svg#icon-logodesktop'></use>
                  </svg> -->
      </div>
    </a>



    <div class="top-bottom">

      <div class="footer__top-container">
        <div class="navigation container--basic">
          <h2 class="navigation__title footer--title">Navigation</h2>

          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#anemone">Anemone</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#about-us">About us</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#store">Store</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#delivery">Delivery</a>
            </li>
          </ul>
        </div>

        <div class="open-time container--basic">
          <h2 class="open-time__title footer--title">Opening times</h2>
          <p class="basic--text">
            Every day
            <span class="nowrap">9:00 - 22:00</span>
          </p>
        </div>
      </div>

      <div class="footer__bottom-container">
        <div class="contacts container--basic">
          <h2 class="contacts__title footer--title">Contacts</h2>
          <ul class="contacts__list">
            <li class="contacts__tel">
              <a class="contacts__tel basic--text" href="tel:+380631234567">+38 063 123 45 67</a>
            </li>
            <li class="contacts__mail">
              <a class="contacts__mail basic--text" href="mailto:anemonestudio@example.com">anemonestudio<span
                  class="contacts__mail--replace">@example.com</span></a>
            </li>
            <li class="contacts__addr">
              <a class="contacts__addr basic--text nowrap" href="#">Reitarska Street, 11
                <span class="contacts__addr--replace"> Kyiv, Ukraine</span></a>
            </li>
          </ul>
        </div>

        <div class="footer-socials container--basic">
          <ul>
            <li class="footer--fb">
              <a class="socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                <svg class="footer__svg" width="28" height="28">
                  <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 2.333h-3.5a5.833 5.833 0 0 0-5.833 5.834v3.5h-3.5v4.666h3.5v9.334h4.667v-9.334h3.5L21 11.667h-4.666v-3.5A1.167 1.167 0 0 1 17.5 7H21V2.333Z" />
                </svg>
              </a>
            </li>
            <li class="footer--insta">
              <a class="socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                <svg class="footer__svg" width="28" height="28">
                  <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19.833 2.333H8.166a5.833 5.833 0 0 0-5.833 5.834v11.666a5.833 5.833 0 0 0 5.833 5.834h11.667a5.833 5.833 0 0 0 5.833-5.834V8.167a5.833 5.833 0 0 0-5.833-5.834Z" />
                  <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M18.667 13.265a4.667 4.667 0 1 1-9.234 1.369 4.667 4.667 0 0 1 9.234-1.369ZM20.417 7.583h.011" />
                </svg>
              </a>
            </li>
          </ul>



        </div>
      </div>

    </div>


  </div>
</footer>