<!--  Footer section  -->

<footer class="footer">
  <div class="container__footer container">
    <a href="#anemone">
      <div class="footer__logo">
        <svg class="logo__footer" width="74" height="58">
          <use
            class="logo__footer__icon"
            href="./images/sprite.svg#icon-logodesktop"
          ></use>
        </svg>
      </div>
    </a>

    <div class="top-bottom">
      <div class="footer__top-container">
        <div class="navigation container--basic">
          <h2 class="navigation__title footer--title">Navigation</h2>

          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#anemone"
                >Anemone</a
              >
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#about-us"
                >About us</a
              >
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#store">Store</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link basic--text" href="#delivery"
                >Delivery</a
              >
            </li>
          </ul>
        </div>

        <div class="open-time__title container--basic">
          <h2 class="open-time__title__title footer--title">Opening times</h2>
          <p class="basic--text">
            Every day
            <span class="nowrap"><time>9:00</time> - <time>22:00</time></span>
          </p>
        </div>

        
      </div>

      <div class="footer__bottom-container">
        <div class="contacts container--basic">
          <h2 class="contacts__title footer--title">Contacts</h2>
          <ul class="contacts__list">
            <li class="contacts__tel">
              <a class="contacts__tel basic--text" href="tel:+380631234567"
                >+38 063 123 45 67</a
              >
            </li>
            <li class="contacts__mail">
              <a
                class="contacts__mail basic--text"
                href="mailto:anemonestudio@example.com"
                >anemonestudio<span class="contacts__mail--replace"
                  >@example.com</span
                ></a
              >
            </li>
            <li class="contacts__addr">
              <a class="contacts__addr basic--text nowrap" href="#"
                >Reitarska Street, 11
                <span class="contacts__addr--replace"> Kyiv, Ukraine</span></a
              >
            </li>
          </ul>
        </div>

        <div class="footer-socials container--basic">
          <ul class="socials__list">
            <li class="socials__item">
              <a href="http://fb.com" target="_blank" rel="noopener noreferrer">
                <svg class="social__item" width="28" height="28">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                href="http://instagram.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials__item" width="28" height="28">
                  <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
        </div>
      </div>
    </div>
  </div>
</footer>