<footer class="footer">
  <div class="footer-container">
    <svg class="logo__footer" width="74" height="58">
      <use href="./images/sprite.svg#icon-logodesktop"></use>
    </svg>
    <div class="top-container">
      <div class="nav-footer">
        <h2 class="nav-footer__title title-footer">Navigation</h2>
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a href="" class="nav-footer__link text-footer">Anemone</a>
          </li>
          <li class="nav-footer__item">
            <a href="" class="nav-footer__link text-footer">About us</a>
          </li>
          <li class="nav-footer__item">
            <a href="" class="nav-footer__link text-footer">Store</a>
          </li>
          <li class="nav-footer__item">
            <a href="" class="nav-footer__link text-footer">Delivery</a>
          </li>
        </ul>
      </div>
      <div class="opening-times">
        <h2 class="opening-times title-footer">Opening times</h2>
        <p class="opening-times__text text-footer">
          Every day <br />
          <time>9:00</time> - <time>22:00</time>
        </p>
      </div>
    </div>
    <div class="bottom-container">
      <div class="contacts">
        <h2 class="contacts__title title-footer">Contacts</h2>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__link text-footer" href="tel:+380631234567"
              >+38 063 123 45 67</a
            >
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link text-footer"
              href="mailto:anemonestudio@example.com"
              >anemonestudio<br class="step-away-dwa" />@example.com</a
            >
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link text-footer"
              href="https://goo.gl/maps/T7G9VmigdCd6utr1A"
              target="_blank"
              rel="noopener noreferrer"
              >Reitarska Street, 11<br />
              Kyiv, Ukraine</a
            >
          </li>
        </ul>
      </div>
      <div class="socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a href="http://fb.com" target="_blank" rel="noopener noreferrer">
              <svg class="social__item" width="28" height="28">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="http://instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__item" width="28" height="28">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
