<!--
  |============================
  | Andrii header
  |============================
-->
<!-- <header>
  <section class="headersection">
    <div class="headwrapper container">
      <a class="logo" href="" rel="noopener noreferrer">
        <svg
          class="logo__icon"
          width="45"
          height="35"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <path
            fill="#0E0E0E"
            d="M18.272 35.037v-5.53l-.247-1.038v-9.432c0-2.008-.593-3.556-1.778-4.642-1.152-1.12-2.897-1.679-5.235-1.679-1.547 0-3.061.263-4.543.79-1.481.494-2.732 1.169-3.753 2.025L.741 11.975c1.35-1.086 2.963-1.91 4.84-2.469a20.043 20.043 0 0 1 5.975-.889c3.588 0 6.354.873 8.296 2.617 1.942 1.745 2.913 4.412 2.913 8v15.803h-4.493Zm-8.593.296c-1.942 0-3.654-.329-5.136-.987-1.448-.659-2.568-1.564-3.358-2.716C.395 30.444 0 29.11 0 27.63c0-1.416.33-2.7.988-3.852.691-1.153 1.794-2.074 3.308-2.766 1.548-.691 3.622-1.037 6.222-1.037h8.297v3.408h-8.099c-2.37 0-3.967.395-4.79 1.185S4.69 26.313 4.69 27.432c0 1.284.51 2.321 1.531 3.111 1.02.757 2.436 1.136 4.247 1.136 1.778 0 3.325-.395 4.642-1.185 1.35-.79 2.321-1.943 2.914-3.457l.938 3.26c-.626 1.546-1.728 2.781-3.309 3.703-1.58.889-3.572 1.333-5.975 1.333Z"
          />
          <path
            fill="#0E0E0E"
            d="M33.432 35.333c-2.798 0-5.267-.576-7.407-1.728-2.107-1.152-3.753-2.733-4.938-4.74-1.152-2.01-1.729-4.314-1.729-6.914 0-2.601.56-4.906 1.68-6.914 1.152-2.008 2.715-3.572 4.69-4.691 2.009-1.153 4.264-1.729 6.766-1.729 2.535 0 4.774.56 6.716 1.68 1.943 1.118 3.457 2.699 4.544 4.74 1.119 2.008 1.678 4.362 1.678 7.062 0 .197-.016.428-.049.691 0 .263-.016.51-.05.74h-22.27v-3.407h19.802l-1.926 1.185c.033-1.678-.313-3.176-1.037-4.493a7.702 7.702 0 0 0-3.013-3.062c-1.25-.757-2.716-1.136-4.395-1.136-1.646 0-3.11.379-4.395 1.136-1.284.724-2.288 1.761-3.012 3.111C24.363 18.181 24 19.695 24 21.407v.79c0 1.745.395 3.31 1.186 4.692.823 1.35 1.958 2.403 3.407 3.16 1.448.758 3.111 1.136 4.988 1.136 1.547 0 2.946-.263 4.197-.79a9.198 9.198 0 0 0 3.358-2.37l2.617 3.061c-1.185 1.383-2.666 2.437-4.444 3.16-1.745.725-3.704 1.087-5.877 1.087Z"
          />
          <path
            fill="#0E0E0E"
            fill-rule="evenodd"
            d="M41.975 3.704H24.691V0h17.284v3.704Z"
            clip-rule="evenodd"
          /> -->
          <!-- <use href="./images/sprite.svg#icon-Logo"></use> -->
        <!-- </svg> -->
        <!--  Внимательно, этв фигня должна вызывать окно контакт us -->
        <!-- <nav class="header-nav">
          <a href="" class="header-nav__link" rel="noopener noreferrer">
            <svg
              class="header-nav__icon"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
            >
              <path
                fill="#0E0E0E"
                d="m20.128 4.167-2.663-2.66a1.72 1.72 0 0 0-2.44 0L12.158 4.37a1.725 1.725 0 0 0 0 2.444l2.24 2.242a10.134 10.134 0 0 1-2.16 3.183c-.918.922-1.99 1.65-3.18 2.164l-2.24-2.242a1.72 1.72 0 0 0-2.44 0l-2.87 2.862a1.725 1.725 0 0 0 0 2.445l2.66 2.66a2.994 2.994 0 0 0 2.585.832c3.31-.545 6.595-2.307 9.247-4.957 2.65-2.655 4.41-5.94 4.96-9.251a2.98 2.98 0 0 0-.832-2.585Zm-.94 2.287c-.488 2.947-2.073 5.887-4.46 8.274-2.388 2.388-5.325 3.972-8.273 4.46-.37.062-.75-.063-1.02-.33l-2.612-2.612 2.77-2.773 2.995 3 .022.023.54-.2a12.032 12.032 0 0 0 7.143-7.145l.2-.54-3.02-3.017 2.77-2.772 2.612 2.612c.27.27.395.65.333 1.02Z"
              /> -->
              <!-- <use href="./images/sprite.svg#icon-Burger"></use> -->
            <!-- </svg>
          </a>
          <button class="burger__menu" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
            >
              <g clip-path="url(#a)">
                <path
                  fill="#000"
                  d="M3 4h18v2H3V4Zm6 7h12v2H9v-2Zm-6 7h18v2H3v-2Z"
                />
              </g>
              <defs>
                <clipPath id="a">
                  <path fill="#fff" d="M0 0h24v24H0z" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </nav>
      </a>
    </div>
  </section>
</header> -->
<!-- Header -->

<header class="header">
  <div class="container container-mob">
    <nav class="nav">
      <a class="nav__logo logo-mob" href="./index.html">
        <svg class="nav__icon" width="45" height="35">
          <use href="../images/sprite.svg#icon-mob-logo"></use>
        </svg>
      </a>

       <div class="mob-menu">
                    <a class="nav__tel" href="./index.html">
        <svg class="nav__icon-tel" width="22" height="22">
          <use href="../images/sprite.svg#icon-header-tel"></use>
        </svg>
      </a>
            <button
              class="menu-toggle js-open-menu"
              type="button"
              aria-expanded="false"
              aria-controls="mobile-menu"
            >
              <svg class="" width="24" height="24">
                <use
                  class="icon-open"
                  href="../images/sprite.svg#icon-burger"
                ></use>
              </svg>
            </button>
    </nav>
  </div>
</header>

  <div class="menu-container js-menu-container" id="mobile-menu">
          <button class="menu-toggle js-close-menu" type="button">
        <svg width="24" height="24">
          <use
            class="icon-cross"
            href="../images/sprite.svg#icon-close-menu"
          ></use>
        </svg>
      </button>
        <div class="mob-menu-wrapper">
        <ul class="nav-mob__list">
          <li class="nav-mob__item">
            <a class="nav-mob__link current" href="#">Anemone</a>
          </li>
          <li class="nav-mob__item">
            <a class="nav-mob__link" href="#">About us</a>
          </li>
          <li class="nav-mob__item">
            <a class="nav-mob__link" href="#">Store</a>
          </li>
            <li class="nav-mob__item">
            <a class="nav-mob__link" href="#">Delivery</a>
          </li>
               <li class="nav-mob__item">
            <a class="nav-mob__link" href="#">Blog</a>
          </li>
        </ul>
    </div>
  </div>
