<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu" type="button">
    <svg width="24" height="24">
      <use class="icon-cross" href="./images/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>
  <div class="mob-menu-wrapper">
    <ul class="nav-mob__list">
      <li class="nav-mob__item">
        <a class="nav-mob__link current" href="#">Anemone</a>
      </li>
      <li class="nav-mob__item">
        <a class="nav-mob__link" href="#">About us</a>
      </li>
      <li class="nav-mob__item">
        <a class="nav-mob__link" href="#">Store</a>
      </li>
      <li class="nav-mob__item">
        <a class="nav-mob__link" href="#">Delivery</a>
      </li>
      <li class="nav-mob__item">
        <a class="nav-mob__link" href="#">Blog</a>
      </li>
    </ul>
  </div>
</div>
