<!--  Store section  -->
<section class="store section">
  <div class="container">
    <h2 class="title">STORE</h2>
    <ul class="store__list">
      <li class="store__item">
        <img
          srcset="
            ./images/store/bouquet3_mob@1x.jpg   136w,
            ./images/store/bouquet3_mob@2x.jpg   272w,
            ./images/store/bouquet3_tab@1x.jpg   344w,
            ./images/store/bouquet3_tab@2x.jpg   688w,
            ./images/store/bouquet3_desk@1x.jpg  600w,
            ./images/store/bouquet3_desk@1x.jpg 1200w
          "
          src="./images/store/bouquet3_mob@1x.jpg"
          alt="red flowers"
          sizes=""
        />
        <h3 class="store__member">compliments</h3>
        <p class="store__text">from $15</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store/bouquet1_mob@1x.jpg   136w,
            ./images/store/bouquet1_mob@2x.jpg   272w,
            ./images/store/bouquet1_tab@1x.jpg   344w,
            ./images/store/bouquet1_tab@2x.jpg   688w,
            ./images/store/bouquet1_desk@1x.jpg  600w,
            ./images/store/bouquet1_desk@1x.jpg 1200w
          "
          src="./images/store/bouquet1_mob@1x.jpg"
          alt="pinck flowers"
          sizes=""
        />
        <h3 class="store__member">bouquets size S</h3>
        <p class="store__text">from $25</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store/bouquet2_mob@1x.jpg   136w,
            ./images/store/bouquet2_mob@2x.jpg   272w,
            ./images/store/bouquet2_tab@1x.jpg   344w,
            ./images/store/bouquet2_tab@2x.jpg   688w,
            ./images/store/bouquet2_desk@1x.jpg  600w,
            ./images/store/bouquet2_desk@1x.jpg 1200w
          "
          src="./images/store/bouquet2_mob@1x.jpg"
          alt="violet flowers"
          sizes=""
        />
        <h3 class="store__member">bouquets size M</h3>
        <p class="store__text">from $45</p>
      </li>
      <li class="store__item">
        <img
          srcset="
            ./images/store/bouquet4_mob@1x.jpg   136w,
            ./images/store/bouquet4_mob@2x.jpg   272w,
            ./images/store/bouquet4_tab@1x.jpg   344w,
            ./images/store/bouquet4_tab@2x.jpg   688w,
            ./images/store/bouquet4_desk@1x.jpg  600w,
            ./images/store/bouquet4_desk@1x.jpg 1200w
          "
          src="./images/store/bouquet4_mob@1x.jpg"
          alt="large bouquets of flowers"
          sizes=""
        />
        <h3 class="store__member">bouquets size L</h3>
        <p class="store__text">from $60</p>
      </li>
    </ul>
    <button type="button" class="button-order" data-modal-open>
      Order flowers
    </button>
  </div>
</section>
