<!--
  |============================
  | Contact us thnk you modal window
  |============================
-->
<!--
        |============================
        | Modal window
        |============================
      -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn-close" aria-label="закрити вікно" data-modal-close>
      <svg class="modal-icons" width="18" height="18">
        <use href="../images/sprite.svg#close"></use>
      </svg>
    </button>
    <strong class="modal-title">Залиште свої дані, ми вам передзвонимо</strong>
  </div>
</div>
