/**
  |============================
  |  About styles
  |============================
*/

@include media-tablet-max(767.98px) {
  .subtitle {
    margin-bottom: 16px;
    text-align: inherit;
    margin-top: 0px;
  }
}

@include media-tablet-min(767.98px) {
  .subtitle {
    display: flex;
    font-size: 20px;
    line-height: calc(24 / 20);
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-right: 54px;

    @include media-desktop-min(1279.98px) {
      font-size: 22px;
      line-height: calc(27 / 22);
      margin-right: 90px;
    }
  }

  .wrapper {
    display: flex;
  }
  //  Returning force br to the subtext
  // .break-your__text {
  //   display: none;
  // }
}

.userpic {
  border-radius: 0px 639.5px 639.5px 0px;

  @include media-tablet-min(767.98px) {
    min-width: 344px;
  }

  @include media-desktop-min(1279.98px) {
    min-width: 632px;
  }
}
