// .blog {
//   overflow: hidden;
// }

.swiper-container {
  position: relative;
  width: 100%;
  // height: 300px;
  overflow: hidden;
}
.swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-slide {
  position: relative;
  z-index: 1;
  // height: 300px;
  display: flex;
  background: $main-white;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);

  & img {
    // position: absolute;
    width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    transform: scale(0.9);
  }

  &.swiper-slide-active {
    transform: scale(1);
    background: $main-white;

    & img {
      transform: scale(1);
    }
  }
}

.swiper-slide__content {
  height: 300px;
}

.swiper-wrapper {
  // overflow: visible;
}

.swiper-button-prev {
  border: none;
  background: transparent;
  fill: $main-white;
  width: 41px;
  height: 27px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(50%);

  &::after {
    display: none;
  }

  @include media-tablet-min(767.98px) {
    width: 97px;
    height: 64px;
    fill: $main-black;
    // top: 330px;
  }
}

.swiper-button-next {
  border: none;
  background: transparent;
  fill: $main-white;
  width: 41px;
  height: 27px;
  position: absolute;
  top: 50%;
  // right: 0;
  transform: translateY(50%);

  &::after {
    display: none;
  }

  @include media-tablet-min(767.98px) {
    width: 97px;
    height: 64px;
    fill: $main-black;
    // top: 330px;
  }
}

.newsletter {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  // @include media-tablet-min(767.98px) {
  //   flex-direction: column;
  // }
}

.newsletter__uppertitle {
  margin-top: 32px;
  margin-bottom: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;

  @include media-tablet-min(767.98px) {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-top: 44px;
    margin-bottom: 48px;
  }
}

.newsletter__sbsbtn {
  border-radius: 38px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: $main-white;
  background: $mobile-bg-color;
  padding: 8px 39.5px;
  border-color: transparent;
  outline: none;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet-min(767.98px) {
    font-size: 28px;
    line-height: calc(24 / 28);
    padding: 20px 69.5px;
  }

  &:hover {
    // background-color: $mobile-bg-color;
    outline: auto;
  }
  &:focus {
    // background-color: $mobile-bg-color;
    outline: auto;
  }
}
