/**
  |============================
  |  Buttons 
  |============================
*/
.modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.button-continue {
  display: block;
  padding: 10px 86px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
  background: $button-default-color;
  border-color: transparent;
  border-radius: 8px;
  color: $main-white;
  &:hover {
    background-color: $button-hovered-color;
  }
  &:focus {
    background-color: $button-focused-color;
  }
}
.button-order {
  display: block;
  padding: 10px 35px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  cursor: pointer;
  background: $button-default-color;
  border-color: transparent;
  border-radius: 38px;
  color: $main-white;
  &:hover {
    background-color: $button-hovered-color;
  }
  &:focus {
    background-color: $button-focused-color;
  }
  @include media-tablet-min(767.98px) {
    padding: 20px 43.5px;
    font-size: 28px;
    line-height: calc(24 / 28);
  }
}
