// Header section

.nav-mob {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  align-items: flex-start;
  &__logo {
    display: block;
    width: 45px;
    height: 35px;
  }
  &__icon {
    fill: $main-black;
  }
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav__tel {
  display: block;
  padding-top: 2px;
}

.mob-menu {
  display: flex;
  gap: 14px;
}

.icon-cross {
  fill: $main-white;
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

// Tablet

@media screen and (min-width: 768px) {
  .mob-menu-wrapper {
    display: none;
  }

  .nav-mob {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;

    &__list {
      display: flex;
      gap: 24px;
      align-items: center;
    }
    &__link {
      color: $main-font-color;
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 20px;
      line-height: calc(24 / 20);
      text-decoration: none;
    }
  }
}

// Desktop
@media screen and (min-width: 1280px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;

    &__list {
      gap: 48px;
    }
  }
}
