// Header section

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: top 300ms;
}

#header.hide {
  top: -120px;
  background-color: white;
}

.header--no-transparency {
  background-color: white;
  -webkit-box-shadow: 0px 3px 4px 2px rgba(245, 245, 245, 0.5);
  -moz-box-shadow: 0px 3px 4px 2px rgba(245, 245, 245, 0.5);
  box-shadow: 0px 3px 4px 2px rgba(245, 245, 245, 0.5);
}

.mouse {
  background-color: transparent;
  transition: 800ms;
}

.mouse a {
  color: white;
  fill: white;
  transition: 800ms;
}

.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__logo {
    display: block;
    width: 45px;
    height: 35px;
  }
  &__icon {
    fill: $main-black;
  }
}

.button-tel {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-top: 2px;
  width: 22px;
  height: 22px;
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav__tel {
  display: block;
  padding-top: 2px;
}

.mob-menu {
  display: flex;
  gap: 14px;
}

.icon-cross {
  fill: $main-white;
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

// Tablet

@media screen and (min-width: 768px) {
  #header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #header.hide {
    transition: 300ms;
  }
  .header--no-transparency {
    background-color: white;
  }
  .mob-menu-wrapper {
    display: none;
  }

  .nav-mob {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      display: flex;
      gap: 24px;
      align-items: center;
    }
    &__link {
      color: $main-font-color;
      font-family: 'Montserrat';
      font-style: normal;
      font-size: 20px;
      line-height: calc(24 / 20);
      text-decoration: none;
    }
  }
}

// Desktop
@media screen and (min-width: 1280px) {
  #header {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  #header.hide {
    background-color: white;
  }
  .header--no-transparency {
    background-color: white;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      gap: 48px;
    }
  }
}
