/**
  |============================
  |  Hero section
  |============================
*/
.hero {
  background-color: $main-white;
  padding-top: 44px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    padding-top: 38px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 59px;
    padding-bottom: 198px;
  }

  .hero__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
}
.hero__title {
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  text-align: center;
  color: $main-font-color;
  mix-blend-mode: normal;
  margin: 0;
   position: absolute;
  bottom: -36px;
  
  z-index: 2;
  @media screen and (min-width: 768px) {
    font-size: 120px;
    line-height: calc(146 / 120);
    bottom: -94px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 160px;
    line-height: calc(195 / 160);
    bottom: -98px;
      }
}
.hero__title-element {
  position: absolute;
  width: 58px;
  height: 0px;
  right: 20px;
  top: 16px;
  
  border: 4.5px solid #0E0E0E;
}
.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 14px;
  margin-left: 14px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
    text-shadow: none;
    margin-right: 40px;
    margin-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: calc(39 / 32);
    text-shadow: none;
    margin-right: 110px;
    margin-left: 90px;
  }
}
.hero__wrapper {
  width: 145px;
  height: 274px;
  

  @media screen and (min-width: 768px) {
    width: 390px;
    height: 636px;
  }
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: inherit;
  margin-left: 8px;
  border: transparent;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 100ms;
  z-index: 3;

  width: 64px;
  height: 76px;

  @media screen and (min-width: 768px) {
    width: 145px;
    height: 150px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 166px;
    height: 166px;
    margin-left: 110px;
  }
}
.hero__icon {
  width: 100%;
  height: 100%;
}
.hero__icon-text {
  transform-origin: center;
  animation: rotate 20s linear 500ms infinite both;
}
.hero__icon-arrow {
  transform-origin: center;
  transition: transform 500ms ease-in;

  .hero__button:hover & {
    transform: scale(1.3);
    @media screen and (min-width: 1280px) {
      transform: rotate(-122deg);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
