/**
  |============================
  |  Hero section
  |============================
*/
.hero {
  background-color: $main-white;
  margin-bottom: 100px;

  .hero__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 354px;
    z-index: 1;
  }
}
.hero__title {
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  text-align: center;
  color: $main-font-color;
  mix-blend-mode: normal;
  margin: 0;
  position: absolute;
  top: 291px;
  z-index: 2;
}
.hero_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-right: 14px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__button {
  padding: 0;
  width: 64px;
  height: 76px;
  background-color: inherit;
  border: transparent;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 100ms;

  &:hover,
  &:focus {
    transform: rotate(-122.8deg);
  }

  @media screen and (min-width: 768px) {
    width: 145px;
    height: 150px;
  }
}

.icon-mbl {
  display: inline-block;
  width: 64px;
  height: 76px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-main-btn-mob {
  width: 64px;
  height: 76px;
}
