/**
  |============================
  |  Hero section
  |============================
*/
.hero {
  background-color: $main-white;
  padding-bottom: 100px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 105px;
  }
  

 .hero__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 354px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    height: 768px;
  }
  @media screen and (min-width: 1200px) {
    height: 788px;
  }
 } 
}
.hero__title {
  font-weight: 400;
font-size: 52px;
line-height: calc(63 / 52);
text-align: center;
color: $main-font-color;
mix-blend-mode: normal;
margin: 0;
position: absolute;
bottom: 291px;
z-index: 2;
@media screen and (min-width: 768px) {
  font-size: 120px;
  line-height: calc(146 / 120);
  top: 622px;
  left: 31px;
}
@media screen and (min-width: 1200px) {
  font-size: 160px;
  line-height: calc(195 / 160);
  top: 593px;
  left: 178px;
}
}
.hero__text {
  font-weight: 400;
font-size: 14px;
line-height: calc(17 / 14);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
@media screen and (min-width: 768px) {
  font-size: 24px;
  line-height: calc(29 / 24);
  text-shadow: none;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  line-height: calc(39 / 32);
  text-shadow: none;
  }
}
.hero__button {
  padding: 0;
  width: 64px;
  height: 76px;
  background-color: inherit;
  border: transparent;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 100ms;
  z-index: 3;

  &:hover,
  &:focus {
    transform: rotate(-122.8deg);
  }

  @media screen and (min-width: 768px) {
    width: 145px;
    height: 150px;
  }
  @media screen and (min-width: 1200px) {
    width: 166px;
    height: 166px;
  }
}

.hero__icon {
  display: inline-block;
  //  stroke-width: 0;
  stroke: currentColor;
  fill: black;
  width:64px;
  height:76px;
}

// .icon-main-btn-mob {
//   width:64px;
//   height:76px;
// }
