/**
  |============================
  |  Hero section
  |============================
*/
.hero {
  background-color: $main-white;
}
.hero__title {
  font-weight: 400;
font-size: 52px;
line-height: calc(63 / 52);
text-align: center;
color: $main-font-color;
mix-blend-mode: normal;
}
.hero_text {
  font-weight: 400;
font-size: 14px;
line-height: 17px;
}