/**
    |============================
    |  Hero section
    |============================
  */
.hero {
  background-color: $main-white;
  padding-top: 95px;
  padding-bottom: 100px;

  @include media-tablet-min(767.98px) {
    padding-top: 119px;
    padding-bottom: 194px;
  }

  @include media-desktop-min(1279.98px) {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 149px;
    padding-bottom: 193px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;

      transform: translateX(-50%);

      width: 100%;
      height: 100%;
      max-height: 878px;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      background-image: url(../images/hero/hero-bg@1x.jpg);

      clip-path: inset(150px 445px 90px 445px round 226px);
      transition: 1s;
    }
    &:hover::before {
      clip-path: inset(0 round 0);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-bg@2x.jpg);
    }
  }
}

.hero__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero__title {
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  text-align: center;
  color: $main-font-color;
  mix-blend-mode: normal;
  margin: 0;
  position: absolute;
  bottom: -36px;

  z-index: 4;
  @include media-tablet-min(767.98px) {
    font-size: 120px;
    line-height: calc(146 / 120);
  }
  @include media-desktop-min(1279.98px) {
    font-size: 160px;
    line-height: calc(195 / 160);
    bottom: -98px;

    &::before {
      content: '';
      position: absolute;
      right: 20px;
      top: 16px;

      display: block;
      width: 58px;
      height: 8px;
      background-color: currentColor;
    }

    transition: 800ms ease-in;
  }
}

.hero:hover .hero__title {
  @media screen and (min-width: 1280px) {
    transform: translateY(-355px);
    color: #fff;
  }
}
.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 14px;
  margin-left: 14px;
  z-index: 4;
  @include media-tablet-min(767.98px) {
    font-size: 24px;
    line-height: calc(29 / 24);
    text-shadow: none;
    margin-right: 40px;
    margin-left: 40px;
  }
  @include media-desktop-min(1279.98px) {
    font-size: 32px;
    line-height: calc(39 / 32);
    text-shadow: none;
    margin-right: 110px;
    margin-left: 90px;
    z-index: 4;
    transition: 1300ms ease-in;
  }
}
.hero:hover .hero__text {
  @media screen and (min-width: 1280px) {
    transform: translateY(175px);
    color: #fff;
  }
}

.hero__wrapper {
  width: 145px;
  height: 274px;

  @include media-tablet-min(767.98px) {
    width: 390px;
    height: 636px;
  }
  @media screen and (min-width: 1280px) {
    z-index: 1;
    opacity: 0;
  }
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: inherit;
  margin-left: 8px;
  border: transparent;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 100ms;
  z-index: 3;

  width: 64px;
  height: 76px;

  @include media-tablet-min(767.98px) {
    width: 145px;
    height: 150px;
    margin-left: 20px;
  }
  @include media-desktop-min(1279.98px) {
    width: 166px;
    height: 166px;
    margin-left: 110px;
    z-index: 4;
    transition: 1300ms ease-in;
  }
}
.hero:hover .hero__button {
  @media screen and (min-width: 1280px) {
    transform: translateY(175px);
    fill: #fff;
  }
}

.hero__icon {
  width: 100%;
  height: 100%;
}
.hero__icon-text {
  transform-origin: center;
  animation: rotate 20s linear 500ms infinite both;
}
.hero__icon-arrow {
  transform-origin: center;
  transition: transform 500ms ease-in;

  .hero__button:hover & {
    transform: scale(1.3);
    @include media-desktop-min(1279.98px) {
      transform: rotate(-122deg);
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
