// Mobile menu

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bgrnd-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @include media-tablet-min(767.98px) {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}
.mob-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $mobile-bg-color;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $main-white;
}

.nav-mob__item:not(last-of-type) {
  margin-bottom: 26px;
}

.nav-mob__item:last-of-type {
  margin-bottom: 0px;
}

.nav-mob__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: $main-white;
  text-align: center;
}

.nav-mob__list .nav-mob__link {
  display: block;
  color: var(--title-txt-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-decoration: none;
}
