.store__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @include media-tablet-min(768px) {
    gap: 40px 32px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    gap: 64px 32px;
  }
  list-style: none;
  margin-bottom: 32px;
}
.store__item {
  width: calc((100% - 16px) / 2);
  @include media-tablet-min(768px) {
    width: calc((100% - 32px) / 2);
  }
}
.store__image {
  min-width: 100%;
}
.store__member {
  font-size: 16px;
  line-height: calc(20px / 16px);
  font-weight: 500;
  color: $main-black;
  margin-top: 12px;
  margin-bottom: 6px;
  @include media-tablet-min(768px) {
    display: flex;
    font-size: 32px;
    line-height: calc(39px / 32px);
    margin-top: 16px;
    margin-bottom: 8px;
    // margin-right: 16px;
    align-items: center;
    &:after {
      content: '';
      flex-grow: 1;
      height: 1px;
      border: 1px solid $main-black;
      margin-left: 16px;
    }

    @include media-tablet-min(1280px) {
      margin-bottom: 80px;
    }
    // margin-right: 8px;
    // margin-bottom: 8px;
  }
  @include media-desktop-min(1280px) {
    font-size: 36px;
    line-height: calc(44px / 36px);
    margin-top: 16px;
    margin-bottom: 4px;
  }
}
.store__text {
  margin: 0;

  font-size: 12px;
  line-height: calc(15px / 12px);
  font-weight: 600;
  color: $main-black;
  //   margin-bottom: 6px;
  opacity: 0.6;
  @include media-tablet-min(768px) {
    font-size: 24px;
    line-height: calc(29px / 24px);
    // margin-right: 8px;
    // margin-bottom: 8px;
  }
  @include media-desktop-min(1280px) {
    font-size: 28px;
    line-height: calc(34px / 28px);
  }
}
