/**
  |============================
  |  Contact us modal
  |============================
*/
.backdrop.is-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  transition: opacity 250ms, visibility 250ms;

  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-contact-us {
  opacity: 0;
  transform: translate(-30%, -70%);
}

.modal-contact-us {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-color: $main-white;
  transition: opacity 250ms, transform 250ms;
  padding: 28px 16px;

  width: 272px;

  @media screen and (min-width: 768px) {
    width: 480px;
    padding: 48px 32px;
  }
}

.modal-contact-us__btn {
  position: absolute;
  top: 19px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  @media screen and (min-width: 768px) {
    top: 28px;
    right: 28px;
  }
}

.modal-contact-us__title {
  display: block;

  margin-bottom: 14px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 24px;
  }
}
.modal-contact-us__text {
  margin-bottom: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}

.modal-contact-us__form-lable {
  display: block;
  font-size: 10px;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.modal-contact-us__form-input {
  outline: 0;
  margin-bottom: 14px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    padding: 16px;
  }
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
  &:not(:placeholder-shown):valid
    ~ &:not(:placeholder-shown):valid
    ~ .button-submit {
    pointer-events: all;
    background-color: $button-default-color;
    &:hover,
    &:focus {
      background-color: $button-hovered-color;
    }
  }
}

.modal-contact-us__form-desc {
  font-size: 14px;
}
.button-submit {
  pointer-events: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background-color: $button-unactive-color;
  border-radius: 8px;
  width: 100%;
  height: 37px;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    margin-top: 14px;
    height: 50px;
  }
}

// .modal-contact-us__form-input:not(:placeholder-shown)
//   ~ .modal-contact-us__form-input:not(:placeholder-shown)
//   + .button-submit {
// }
.modal-contact-us__form-input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  @media screen and (min-width: 768px) {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
