/**
  |============================
  |  Modal Contact Us settings
  |============================
*/
.modal-thank-you {
  padding: 44px 16px 32px 16px;
  margin: 0 auto;
}
.modal__vector-image {
  display: block;
  margin: 0 auto;
}
